{
  "include": [
    "src/{{ package_name }}",
    "tests"
  ],
  "exclude": [
    "**/__pycache__",
    ".venv/"
  ],
  "venvPath": ".",
  "venv": ".venv",
  "pythonVersion": "{{ python_version }}",
  "typeCheckingMode": "basic",
  "reportMissingImports": true,
  "reportMissingTypeStubs": false
}